old-ones/downloader.py
old-ones/downloader11.py
old-ones/downloader12.py
old-ones/downloader13.py
old-ones/downloader2.py
old-ones/downloader3.py
old-ones/downloader4.py
old-ones/downloader5.py
old-ones/downloader6.py
old-ones/downloader7.py
old-ones/downloader8.py
old-ones/downloader9.py
old-ones/drive_video_downloader.rar
old-ones/test.py
downloads/11_Hafta - Sayısal İşaret İşleme (2023-05-15 1513 GMT+3)_merged.mp4
downloads/11_Hafta - Sayısal İşaret İşleme (2023-05-15 1703 GMT+3)_merged.mp4
downloads/5-Hafta - Yeryüzü Görüntü Uzaktan Algı. Yaklş. (2023-06-06 1754 GMT+3)_merged.mp4
downloads/5-Week - Remote Sensing (2023-04-12 1754 GMT+3).m4a
downloads/5-Week - Remote Sensing (2023-04-12 1754 GMT+3).mp4
downloads/5-Week - Remote Sensing (2023-05-31 1800 GMT+3)_merged.mp4
downloads/5-Week - Remote Sensing (2023-06-07 1801 GMT+3)_merged.mp4
downloads/5-Week - Remote Sensing (2023-06-07 1838 GMT+3)_merged.mp4
downloads/9_Hafta - Sayısal İşaret İşleme (2023-04-24 1525 GMT+3)_merged.mp4
downloads/jcn-zfgm-dfg (2023-04-10 2134 GMT+3)_merged.mp4
downloads/Sayısal İşaret İşleme (2023-05-08 1517 GMT+3)_merged.mp4
downloads/Sayısal İşaret İşleme (2023-05-08 1622 GMT+3)_merged.mp4
downloads/Sayısal İşaret İşleme (2023-05-08 1717 GMT+3)_merged.mp4
downloads/Tasarım projesi dersi (2023-04-25 1302 GMT+3)_merged.mp4
downloads/tis-wmrc-upe (2020-03-19 at 0616 GMT-7)_merged.mp4
__pycache__/video_links.cpython-310.pyc
media_links - Kopya.csv
media_links.csv
